@media only screen and (min-width: 72em) {
    .body-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .title-body {
        grid-column: span 3;
    }

    /* HEROBOX */
    .hero-box-container,
    .header-container,
    .nav-container {
        width: 1200px;
        margin: 0 auto;
    }

    .hero-box-container .hero-text {
        top: 80px;
        height: 400px;
    }

    .directory-container {
        width: 50%;
    }

    .event-card {
        width: 30%;
    }

    .body-cards-wrapper {
        width: 1200px;
        margin: 3rem auto;
    }

    .body-cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .joinus-container {
        width: 60%;
        margin: 0 auto;
    }

    .form-wrapper {
        margin: 1rem auto;
        width: 40%;
    }
    .sub-tier-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2rem;    
        width: 85%;
    }

    .contact-wrapper {
        width: 65%;
        margin: 2rem auto;
    }

    .map-wrapper {
        width: 70%;
        margin: 2rem auto;
    }

    .bod-wrapper {
        width: 60%;
        margin: 2rem auto;

    }

    footer {
        width: 72%;
        margin: 0 auto;
    }

    .directory-wrapper {
        width: 70%;
        margin: 0 auto;
    }
}