@media only screen and (min-width: 72em) {
    header, nav {
        margin: 0 auto;
        max-width: 100vw;
    }

    main, footer {
        margin: 0 auto;
        max-width: 70vw;
    }

    .navigation {
        display: flex;
        max-width: 70vw;
    }

    footer .map {
        margin-top: 1.5rem;
        width: 60%;
    }

    main .hero-box-container {
        position: relative;
    }

    main .hero-box-container #weather-summary {
       position: absolute;
       top: 60px;
       left: 30px;
       width: 30%;
       background-color: #fff;
    }

   
}